  .description {
   /* display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 3px solid red;*/
    margin-top: 100px;
  }
  
  .two-columns {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 784px;
    width: 80%;
    margin: auto;
  }
  
  .two-columns__brief {
    color: #2f80ed;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    width: 175px;
    margin: 0;
  }
  
  .two-columns__main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    min-width: 784px;
    min-height: 520px;
  }
  
  .two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0 auto;
    text-align: start;
  }
  
  .two-columns__span-accent {
    font-weight: bold;
  }