@import url(../vendor/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/description.css);
@import url(../blocks/techniques.css);
@import url(../blocks/video.css);
@import url(../blocks/oakley.css);
@import url(../blocks/feynman.css);
@import url(../blocks/digits.css);
@import url(../blocks/khan.css);
@import url(../blocks/kaufman.css);
@import url(../blocks/resources.css);
@import url(../blocks/footer.css);

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}




/*.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  background-color: #f2f2f2;
  overflow: hidden;
  z-index: 1;
}

.logo {
  width: 154px;
  height: 31px;
  display: flex;
  justify-content: center;
}

.logo_place-header {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 64px;
  justify-content:center;
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  display: flex;
  text-decoration: none;
  opacity: 1;
}

.header__link:hover {
  transition: transform 0.4s ease-in-out; 
  opacity: 0.5;
}

.header__main-illustration {
  box-sizing: border-box;
  width: 756px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square {
  box-sizing: border-box;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite;
  z-index: -1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
}*/

/*.description {
 /* display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 3px solid red;
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-width: 784px;
  width: 80%;
  margin: auto;
}

.two-columns__brief {
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  min-height: 520px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  text-align: start;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin: 100px auto;
  width: 1100px;
  height: 650px;
}

.techniques {
  margin: 100px auto;
  width: 920px;
}

.techniques-title {
  width: 60%;
  margin: 100px auto 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.techniques-subtitle {
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.cards {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 920px;
  height: 120vh;
  margin-top: 60px;
  column-gap: 100px;
  row-gap: 60px;
}

.cards__item {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 400px;
  margin: 0 auto;
}

.cards__image {
  border: 2px solid red;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 40px 16px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.video {
  margin: 100px auto 0;
  width: 1100px;
  height: 450px;
}

.video-title {
  width: 60%;
  margin: 100px auto 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.video-subtitle {
 width: 60%;
 margin: 20px auto 50px;
 text-align: center;
 line-height: 34px;
 font-size: 24px;
 font-weight: normal;
}

.video__iframes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 20px;
  margin: 50px auto 0;
}

.video__iframe {
  border: none;
}

.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
}

.feynman {
  display: flex;
  justify-content: center;
  height: 790px;
  position: relative;
  background-color: #f2f2f2;
  z-index: 1;
}

.feynman__title {
  width: 775px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
}

.feynman__subtitle {
  height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  position: absolute;
  top: 370px;
  margin: 70px auto 0;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
}

.feynman__link:hover { 
  transition: transform 0.4s ease-in-out;
  opacity: 0.5;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

.digits {
  margin: 100px auto;
  width: 1100px;
  height: 650px;
}

.digits-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.digits-subtitle {
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
  width: 1100px;
  height: 455px;
  margin-top: 60px;
}

.table__cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  height: 180px;
  gap: 20px;
}*/

/* including elements with key-value modifiers */
/*.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  text-align: start;
  margin: 0 auto;
}

.khan {
  position: relative;
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin-top: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  width: 790px;
  margin-top: 50px;
  margin-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.khan__quote-author-subline {
  margin-top: 10px;
  margin-bottom: 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.book__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.book-pic {
  width: 620px;
  height: 608px;
}

.buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 48px;
  text-decoration: none;
  position: absolute;
  color: #2f80ed;
  opacity: 1;
}

.buy-link:hover {
  transition: transform 0.4s ease-in-out; 
  opacity: 0.5;
}

.kaufman {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.kaufman__title {
  width: 60%;
  margin: 0 auto;
  padding-top: 90px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.kaufman__subtitle {
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.kaufman__table {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-evenly;
  width: 1100px;
  height: 380px;
  margin: 0 auto 90px;
  padding-bottom: 90px;
}

.kaufman__cell {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 200px;
  height: 110px;
  padding-top: 80px;
}

.kaufman__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.kaufman__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
}

.kaufman__triangle {
  color: #2f80ed;
  position: absolute;
  top: 0;
  right: -124px;
  width: 660px;
  height: 636px;
  z-index: -1;
  animation: rotation 20s linear infinite;
}

.kaufman_theme_dark {
  background-color: #000000;
  z-index: -2;
}

.kaufman__title_theme_dark {
  color: #f2f2f2;
}

.kaufman__subtitle_theme_dark {
  color: #f2f2f2;
}

.kaufman__table_theme_dark {
  color: #f2f2f2;
}


.resources {
  
}

.resources__title {
  width: 60%;
  margin: 100px auto 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.resources__subtitle {
  width: 60%;
  margin: 20px auto 80px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 217px;
}

.resources__logo {
  display: flex;
  align-content: center;
  list-style: none;
  padding: 0;
}

.resources__logo-link {
  display: flex;
  align-items: center;
  opacity: 1;
}

.resources__logo-link:hover {
  transition: transform 0.4s ease-in-out; 
  opacity: 0.5;
}

.resources__logo-icon {
  width: 270px;
  height: 38px;
}

.footer {
  background-color: #000000;
  min-height: 350px;
  display: flex;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column_content_about {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer__list {
  padding: 0;
  list-style: none;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  color: #f2f2f2;
}

.footer__column-link {
  display: flex;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #f2f2f2;
  opacity: 1;
}

.footer__column-link:hover {
  transition: transform 0.4s ease-in-out; 
  opacity: 0.5;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.logo_place-footer {
  width: 183px;
  height: 35px;
  display: flex;
  justify-content: center;
}*/
